

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4" aria-label="Third navbar example">
    <div class="container-fluid container">
        <a class="navbar-brand" href="{{ path("app_home") }}"><img src= {{ asset("build/images/logo.png")}}></a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarsExample03">
            <ul class="navbar-nav">

                {# {% if app.user %} #}
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_show', {id:app.user.id}) }}">My profile</a>
                    </li> #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">
                        <img src={{ asset('build/images/home.png') }}><br>
                        Accueil
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">
                        <img src={{ asset('build/images/profile.png') }}><br>
                        Profil
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">
                        <img src={{ asset('build/images/cart.png') }}><br>
                        Panier
                        </a>
                    </li>


                {# {% else %}

                <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                {% endif %} #}

            </ul>

        </div>
    </div>
</nav>
