@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~bootstrap";

$primary-font: 'Quicksand', sans-serif;

$yellow: #F8CB2E;
$yellow-secondary: #FBE597;

$blue: #006E7F;
$blue-secondary: #80B7BF;

body {
    font-family: $primary-font;
}

.yellow-box{
    background: $yellow;
    box-shadow: 3px 4px 0px $yellow-secondary;
    border-radius: 6px;
}

.blue-box{
    background: $blue;
    box-shadow: 2px 4px 0px $blue-secondary;
    border-radius: 6px;
}

.alerts{
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border-radius: 0;
    border: none;

    &.alerts-success{
        background-color: #52bb7c;
    }

    &.alerts-error{
        background-color: #bb525b;
    }

    &.alerts-info{
        background-color: #5278bb;
    }
}

.navbar{
    background-color:$blue!important;
    color: white;
    ul{
        li{
            margin-right: 50px;
            font-size: 24px;
            a{
                color: #DEECEE!important;
                text-align: center;
                transition:  0.4s ease;
                img {
                    height: 30px;
                    } 
            }
            a:hover{
                color: #DEECEE!important;
                img{
                    transform: rotate(360deg);
                    transition:  0.4s ease;
                }
            }
        }
    }
}

.navbar-brand {
        img {
        width: 200px;
    }
}

.navbar-nav {
}



.product{
    margin: 30px;
    padding: 5px;
    h2{
        text-align: center;
    }
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}

.box{
    padding: 30px;
    margin-top: 70px;
    h1{
        text-align: center;
        margin: 0 0 15px 0;
    }

    .blue-box{
        color: white;
        display: block;
        margin: 25px auto 0 auto;
        width: max-content;
        padding: 5px 15px;
    }
    .blue-box:hover{
        background: $blue;
        box-shadow: 2px 4px 0px $blue-secondary;
        color: white;
    }

    #product div{
        margin-top: 10px;
        
        input{
            border: none;
            border-radius: 3px;
            margin-left: 10px;
            width: 100%;
        }
    }
}




@media (max-width:961px){
    .navbar{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        img {
            height: 30px;
            } 
    }
    .navbar-brand{
        display: none;
    }

    .navbar-nav {
        margin: 0 auto 0 auto; 
    }
}



@media (max-width:575px){
    .navbar{

        img {
            height: 20px;
            } 
    }
    .navbar-nav{
        flex-direction: row!important;
    }

}