{% extends 'base.html.twig' %}

{% block title %} 🧸 {{ product.title}} | gamexchange{% endblock %}

{% block body %}
    <div class="box">
        <div class="col-md-6 mx-auto box yellow-box">
            <h1>{{ product.title}}</h1>
        </div>
        <a href="" class="btn blue-box">
            Proposer un échange
        </a>
    </div>

{% endblock %}
