{% extends 'base.html.twig' %}

{% block title %} 🧸 Home | gamexchange{% endblock %}

{% block body %}
<style>

</style>

    <div class="row mx-3 justify-content-center">
        {% for product in products %}
            
            <div class="product yellow-box  col-md-3">
                <a href="{{ path('app_product_show', {id: product.id}) }}">
                    <p class="text-center"><img src={{ asset('build/images/exchange.png') }}></p>
                    <h2>{{ product.title}}</h2>
                    {# <p>{{ product.description}}</p> #}
                </a>
            </div>
            
        {% endfor %}
    </div>

{% endblock %}
